mixin breadcrumbs(arrBr)
    nav(aria-label='breadcrumb')
        .container
            ol.breadcrumb.bg-white.pl-0.py-30px.mb-0
                each item,index in arrBr
                    if index !== arrBr.length - 1
                        li.breadcrumb-item
                            a(href=item.link)= item.name
                    else
                        li.breadcrumb-item.active(aria-current='page')= item.name

mixin formInput(type,text,id)
    .mb-3
        label(for="email" class="form__label")= `${text}*`
        input(type= `${type}` id=`${id}` class="form__input")

mixin homeOptions(icon,text)
    .col-md-4.col-sm-12
        .options__wrap(class!=attributes.class)
            .options__wrap-icon 
                i(class= `${icon}`)
            span.options__wrap-text= text

mixin homeImage(index)
    .row.mt-3
        if index === 1
            .col-md-6.col-sm-12
                .grid__container
                    each img in homeGrid1
                        .grid__container-item.grid__container-item--grid1
                            img(src=`${img}` alt= "grid-img")
            .col-md-6.col-sm-12 
                .grid__col
                    img(src="../assets/images/Home4.jpg" alt="Home4")
                    .grid__col--hasIcon
                        i.fas.fa-caret-right
        if index === 2
            .col-md-6.col-sm-12 
                .grid__col
                    img(src="../assets/images/Home6.jpg" alt="Home6")
            .col-md-6.col-sm-12
                .grid__container
                    each img in homeGrid2
                        .grid__container-item.grid__container-item--grid2
                            img(src= `${img}` alt= "grid-img")

mixin homeProduct(img, cate, title, price, oldprice, disable)
    if disable 
        .col-lg-2.col-md-6.col-sm-12
            .card.product__card.product__card--disable
                img.card-img-top.product__card-img(src=`${img}` alt= title)
                .card-body.product__card-body
                    p.card-text.body__cate= cate
                    h5.card-title.body__title= title
                    .body__line
                    if oldprice!==null
                        span.body__price= price 
                            sup đ 
                        span.body__oldprice= oldprice
                            sup đ 
                    else
                        span.body__price= price 
                            sup đ                   
    else   
        .col-lg-2.col-md-6.col-sm-12  
            .card.product__card
                img.card-img-top.product__card-img(src=`${img}` alt= title)
                .card-body.product__card-body
                    p.card-text.body__cate= cate
                    h5.card-title.body__title= title
                    .body__line
                    if oldprice!==null
                        span.body__price= price
                            sup đ 
                        span.body__oldprice= oldprice 
                    else
                        span.body__price= price
                            sup đ 
                    .product__card-footer
                        button.btn-bought Mua hàng
                        button.btn-wish
                            i.fas.fa-heart
                        button.btn-reload
                            i.fas.fa-sync-alt 

mixin tag(tags)  
    .tags 
        each tag in tags 
            .tag= tag

mixin quote(src)
    .quote__wrap 
        .quote__wrap-avatar
            img(src=`${src}` alt="quote-avater") 
        .quote__wrap-text 
            p.text__main
                q.text__main-quote
                    span= homeQuote
                .text__main-footer
                    span.footer__author TUTILE
                    span.footer__position _Giám đốc phát triển sản phẩm