mixin breadcrumbs(arrBr)
    nav(aria-label='breadcrumb')
        .container
            ol.breadcrumb.bg-white.pl-0.py-30px.mb-0
                each item,index in arrBr
                    if index !== arrBr.length - 1
                        li.breadcrumb-item
                            a(href=item.link)= item.name
                    else
                        li.breadcrumb-item.active(aria-current='page')= item.name
    

mixin formInput(type,text,id)
    .mb-3
        label(for="email" class="form__label")= `${text}*`
        input(type= `${type}` id=`${id}` class="form__input")